@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lancelot&family=League+Spartan:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@font-face {
	font-family: "Flatlion";
	src: url("/fonts/Flatlion Personal Use Only.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "More Sugar";
	src: url("/fonts/MoreSugar-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Mungil";
	src: url("/fonts/Mungil-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Brown Sugar";
	src: url("/fonts/brown-sugar.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "La Luxes Script";
	src: url("/fonts/LaLuxesScript-Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Crimson Pro";
	src: url("/fonts/CrimsonPro-VariableFont_wght.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Bubbly";
	src: url("/fonts/Bubbly-Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Glacial Indifference";
	src: url("/fonts/GlacialIndifference-Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Bugaki";
	src: url("/fonts/Bugaki.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Quincy CF";
	src: url("/fonts/quincycf-regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Amsterdam Four";
	src: url("/fonts/Amsterdam.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Roca Two";
	src: url("/fonts/fonnts.com-Roca_Two_Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Pinyon Script";
	src: url("/fonts/PinyonScript-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Beth Ellen";
	src: url("/fonts/BethEllen-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Canva Sans";
	src: url("/fonts/CanvaSans-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Archivo Black";
	src: url("/fonts/ArchivoBlack-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Halimun";
	src: url("/fonts/Halimun.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "The Seasons";
	src: url("/fonts/theseasons-reg.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "TT Norms";
	src: url("/fonts/TT Norms Pro Serif Trial Normal.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Autumn in November";
	src: url("/fonts/Autumn in November.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Janethville";
	src: url("/fonts/Janethville.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Lekton";
	src: url("/fonts/Lekton-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Cocogoose";
	src: url("/fonts/Cocogoose-Pro-Regular-trial.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: "Space Mono";
	src: url("/fonts/SpaceMono-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Alice";
	src: url("/fonts/Alice-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "29LT Makina";
	src: url("/fonts/29lt-makina-regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: "Argent";
  src: url("/fonts/Fontspring-DEMO-argentcf-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("/fonts/Futura Reguler.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Garamond";
  src: url("/fonts/Garamond.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url("/fonts/Source Serif Pro Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Typo Formal";
  src: url("/fonts/Typo Formal Regular Demo.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bright Retro";
  src: url("/fonts/Bright DEMO.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Margin";
  src: url("/fonts/Margin DEMO.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Quiche";
  src: url("/fonts/Quiche-Flare-Reguler.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta";
  src: url("/fonts/Recoleta-RegularDEMO.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sergio Trendy";
  src: url("/fonts/Sergio Trendy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Tan Pearl";
  src: url("/fonts/tan-pearl.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Winkle";
  src: url("/fonts/Winkle-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sunday Morning";
  src: url("/fonts/Sunday Morning.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Marykate";
  src: url("/fonts/marykate-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lulu Font";
  src: url("/fonts/Lulu.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lion Cub";
  src: url("/fonts/LionCub-Regular-2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lazydog";
  src: url("/fonts/lazy_dog.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hey Tiny";
  src: url("/fonts/Hey Tiny DEMO.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Happy Font";
  src: url("/fonts/Happy Personal Use.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cweyons";
  src: url("/fonts/Cweyons-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Blueberry";
  src: url("/fonts/Blueberry Personal Use Only.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bakso Sapi";
  src: url("/fonts/BaksoSapi.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sunset Hill";
  src: url("/fonts/Sunsetstill Free.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sallim";
  src: url("/fonts/Sallim.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Retro Signature";
  src: url("/fonts/RetroSignature.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Playlist Script";
  src: url("/fonts/Playlist Script.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Intro Script";
  src: url("/fonts/IntroScriptDemo-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Holiday";
  src: url("/fonts/HolidayFree.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gistesy";
  src: url("/fonts/Gistesy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Farmhouse";
  src: url("/fonts/Farmhouse.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Brightwall";
  src: url("/fonts/Brightwall Personal Use Only.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Beautiful";
  src: url("/fonts/Beautiful.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aniyah";
  src: url("/fonts/Aniyah Personal Use Only.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Anastasia Script";
  src: url("/fonts/Anastasia Script Personal Use.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
